<meta charset="utf-8" />
<title>Speedy Service</title>
<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
<link href="~/Content/css/bootstrap.css" rel="stylesheet" />
<link href="~/Content/css/styles.min.css" rel="stylesheet" />
<link href="~/Content/css/AjaxLoader.css" rel="stylesheet" />
<link href="~/Content/css/custom.css" rel="stylesheet" />
<script src="~/Scripts/jquery.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/ServiceUrlJs.js"></script>