
       .pageloading {
            position:   fixed;
            z-index:    1000;
            top:        0;
            left:       0;
            height:     100%;
            width:      100%;
            opacity: 0.5;
            background: url("/Images/ajax-loader.gif") no-repeat scroll 50% 35% rgba(255, 255, 255, 0.8);
            
       }


