@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_Layout1column.cshtml";
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<div class="row">
    <div class="col-xs-4 col-md-6">
        <div class="modal"></div>
        <form id="forgetpasswordForm">
            <div style="font-weight:bold;margin-left:30%" id="lblMsg"></div>
            <div class="form-group">
                <label for="Email"> Email :</label>
                <input type="text" class="form-control" name="txtEmail" id="txtEmail" placeholder="Enter ur Email">
            </div>
            <input type="submit" class="btn btn-info" id="submit" value="Send" />
        </form>
    </div>
</div>

<script src="~/Scripts/customForgottenPassword.js"></script>
