
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_Layout1column.cshtml";
}

<meta name="viewport" content="width=device-width" />

@using SpdySvc.Models;
@using SpdySvc.Models.SpdyMembershipUser;
@{
    List<Token> token = (List<Token>)ViewBag.TcLst;

    
}

@Html.Partial("_Modal")
<section class="content-header">
    <h1>
        @ViewBag.Message
    </h1>
</section>

<section class="content">
    <div class="box">
        <div class="box-body">
             <div class="row">
                <div class="col-xs-4 col-md-6">
                    <div class="modal"></div>
                    <form id="regForm">
                        <div class="form-group">
                            <div style="font-weight:bold;margin-left:30%" id="lblMsg"></div>
                        </div>
                        <div class="form-group">
                            <label for="newPassword"> New Password :</label>
                            <input class="form-control" name="txtnewpass" type="password" id="txtnewpass" />
                        </div>
                        <div class="form-group">
                            <label for="newPassword"> Retype Password:</label>
                            <input class="form-control" name="txtconfirmpass" type="password" id="txtconfirmpass" /></td>
                        </div>
                        @{
                            foreach (Token toc in token)
                            {
                                <input type="hidden" name="txtEmail" id="txtEmail" value="@toc.UserId" />
                            }  
                         } 
                        
                        <input type="submit" class="btn btn-info" id="submit" value="Submit" />
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>


<script src="~/Scripts/customPasswordReset.js"></script>