@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="content-header">
    <h1>
        @ViewBag.Message
    </h1>    
</section>
<section class="content">

</section>
